<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>GetSet Webshop - @ViewData["Title"]</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link
        href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,700;0,800;1,300;1,400;1,700;1,800&display=swap"
        rel="stylesheet">
    <link rel='stylesheet' type='text/css' media='screen' href='~/css/main.css'>
    <script src='~/js/main.js'></script>
    <script src="https://kit.fontawesome.com/e1f7535694.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="main">
        <ul id="navBar" class="container nav-bar">
            <a asp-controller="Home" asp-action="Index"><img class="nav-brand" src="~/img/brand.svg"></img></a>

            <li id="home" class="nav-item @Html.IsActive("Home", "Index")">
                <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
            </li>

            <li id="products" class="nav-item @Html.IsActive("Product", "Index")">
                <a class="nav-link" asp-controller="Product" asp-action="Index">Products</a>
            </li>

            <div class="align-right">
                @if (User.Identity.IsAuthenticated)
                {
                    if (ContextHelper.GetCurrentUser(Context).IsAdmin())
                    {
                        <li class="nav-item @Html.IsActive("Admin")">
                            <a id="adminDropDownBtn" class="nav-link clickable">Admin Panel</a>
                            <div id="adminDropDown" class="dropdown-content">
                                <a class="nav-link" asp-controller="Admin" asp-action="AddProduct">Add product</a>
                                <a class="nav-link" asp-controller="Admin" asp-action="UpdateProduct">Update product</a>
                                <a class="nav-link" asp-controller="Admin" asp-action="RemoveProduct">Remove product</a>
                            </div>
                        </li>
                    }

                    <li class="nav-item @Html.IsActive("Cart", "Index")">
                        <a class="nav-link" asp-controller="Cart" asp-action="Index">Cart</a>
                    </li>

                    <li class="nav-item @Html.IsActive("Account", "Profile")">
                        <a class="nav-link" asp-controller="Account" asp-action="Profile">Profile</a>
                    </li>

                    <li class="nav-item">
                        <form method="POST" asp-controller="Account" asp-action="Logout">
                            <a class="nav-link clickable" onclick="this.parentNode.submit(); return false;">Logout</a>
                        </form>
                    </li>
                }
                else
                {
                    <li class="nav-item @Html.IsActive("Account", "Index")">
                        <a class="nav-link" asp-controller="Account" asp-action="Index">Login</a>
                    </li>
                }
            </div>
        </ul>

        <div class="container">
            @RenderBody()
        </div>
    </div>

</body>
</html>