@model List<User>
@{
    ViewData["Title"] = "My profile";
    var currentUser = ContextHelper.GetCurrentUser(Context);
}

<p>Your id: @currentUser.Id</p>
<p>Your username: @currentUser.Username</p>
<p>Your role: @currentUser.Role</p>

@if (currentUser.IsAdmin())
{
    <h1>Users in database</h1>
    foreach (var user in Model)
    {
        <p>ID: @user.Id</p>
        <p>Username: @user.Username</p>
        <p>Email: @user.Email</p>
        <p>Role: @user.Role</p>
        <br>
    }
}