@model Product

@{
    ViewData["Title"] = Model.Name;
}

<p>Product name: @Model.Name</p>
<p>Category: @Model.Category</p>
<p>Description: @Model.Description</p>
<p>$@Model.Price</p>
@if (Model.Stock > 0)
{
    <p>In stock (@Model.Stock)</p>    
    <input type="number" value="1" min="1" max="@Model.Stock">
    <input type="submit" value="Add to cart">
}
else
{
    <p>Out of stock!</p>
}