@model Product

@{
    ViewData["Title"] = Model.Name;
}

<p>Product name: @Model.Name</p>
<p>Category: @Model.Category</p>
<p>Description: @Model.Description</p>
<p>$@Model.Price</p>
@if (Model.Stock > 0)
{
    <p>In stock (@Model.Stock)</p>    
    @* AJAX *@
    @* <form method="POST"> *@
    @if(User.Identity.IsAuthenticated)
    {
        @Html.Hidden("productId", Model.Id)
        <input id="quantity" name="quantity" type="number" value="1" min="1" max="@Model.Stock">
        <button id="addToCartBtn" class="btn-submit">Add to cart</button>
    }
    else
    {
        <button class="btn-submit" onclick="location.href = '@Url.Action("Index", "Account")'">Add to cart</button>
    }
    @* </form> *@
}
else
{
    <p>Out of stock!</p>
}